html:focus-within {
    scroll-behavior: smooth;
}
html,
body {
 height:100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
img,
picture,
svg {
    max-width: 100%;
    display:block;
}

body {
    font-size:medium;
    font-family: serif;
    color: #40513B;
    background-color: #f4ca9e;
}
footer {
    background-color: #40513B;
    color: #EDF1D6;
}
button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 0.5em 1.5em;
    font-weight:bolder;
    font-size: 20px;
    background-color: #40513B;
    color:#F0A04B;
}
button:hover,
button:focus-visible {
    background-color:#aacba0;
}
.container {
    max-width: 1110px;
    padding: 1rem;
    margin-inline: auto;

}
.section-container {
   display: grid;
   gap: 1rem;
}

 .site-main-text{
    position: absolute;
    top:120px;
    left:50px;
    font-size: 40px;
    color: #131d10;
}
.site-main {
    height: 80vh;
    background-image:url("./source/pexels-tranmautritam-69432.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.site-about-image {
    border-radius: 30%;
} 
.site-about {
    background-color: #F0A04B;
    color: #40513B;
}
.site-header-outer {
    background-color: #40513B;
    color: #F0A04B;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:0;
    padding: 0;

}
.site-project-text {
    text-align: center;
    margin-bottom: 30px;

} 

.btn{
    background-color: #F0A04B;
    color: #40513B;
}

 .flex-container {
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 500px;
    height: 50px;
    } 
    .nav {
        display: inline-flex;
        justify-content: space-around;
        gap: 30px;
        text-decoration:none;
    }
    .nav li a {
        text-decoration: none;
     }
    li {
        font-size: 20px;
        width:fit-content;
        background-color: #F0A04B;
        color: #000;
        list-style: none;
        border-radius: 20px;
        padding: 0.1em 0.2em;
        text-decoration: none;
         } 
         
  
@media (min-width: 50em) {
    .section-container {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
  
  .mobile-nav-toggle
  {
    display: none;
  } 
  
 } 
@media (max-width: 50em){
    .nav {
        display: none;
    }
    .nav[data-visible] {
        display: block;
        position: fixed;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }
    span.visually-hidden{
        font-size: 35px;
        color:#F0A04B;
    }
}












