html:focus-within {
    scroll-behavior: smooth;
}
html,
body {
 height:100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
img,
picture,
svg {
    max-width: 100%;
    display:block;
}

body {
    font-size:medium;
    font-family: serif;
    color: #40513B;
    background-color: #f4ca9e;
}
h1 {
    font-size: min(8vw, 5rem);
}
h3 {
    font-size:x-large;
    font-weight: 200;
}
button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 0.5em 1.5em;
    font-weight:bolder;
    font-size:large;
    background-color: #40513B;
    color:#F0A04B;
}
button:hover,
button:focus-visible {
    background-color:#aacba0;
}
.container {
    max-width: 1110px;
    padding: 1rem;
    margin-inline: auto;

}
.section-container {
   display: grid;
   gap: 1rem;
}
.main {
    background-image: url('./source/pexels-scott-webb-305821.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
@media (min-width: 50em) {
    .section-container {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
  li {
    font-size: 20px;
    width:fit-content;
    background-color: #F0A04B;
    color: #000;
    list-style: none;
    border-radius: 20px;
    padding: 0.1em 0.2em;
    text-decoration: none;
     } 
    
} 

    .flex-container {
        display:  flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        height: 50px;
        } 
    .nav {
        display: inline-flex;
        justify-content: space-around;
        gap: 30px;
        text-decoration:none;
    }

      
