html:focus-within {
    scroll-behavior: smooth;
}
html,
body {
 height:100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
img,
picture,
svg {
    max-width: 100%;
    display:block;
}

body {
    font-size:medium;
    font-family: serif;
    color: #40513B;
    background-color: #f4ca9e;
}
.container {
    max-width: 1110px;
    padding: 1rem;
    margin-inline: auto;

}
h1 {
    font-size: min(7vw,6.5rem);
    font-weight: 300;
}
 p {
    font-size: min(2vw, 5.5rem);
 }
@media(min-width: 50em) {
    .flex {
        display: flex;
        gap: 50px;
        padding-top: 100px;
    }
}